// Defaults
body,
html {
  margin: 0;
  padding: 0;
  max-width: 2560px;
  margin: 0 auto;
  background: #eaeaea;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Amaranth', sans-serif;
}
p,
a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}
li,
ul {
  list-style: none;
}

.icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.8;
  transition: all 0.35s ease-in-out;
  transform: scale(1.3);
}
.bigIcon {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.bigIcon:hover {
  transition: all .2s ease;
  transform: scale(1.1);
}
#line {
  width: 100%;
  border: 0.32px solid rgba(250, 250, 250, 0.041);
  flex: 1;
}
#darkLine {
  width: 100%;
  border: 0.5px solid rgba(75, 75, 75, 0.1);
  flex: 1;
}
.bold {
  font-weight: bold;
}
.mobileText {
  display: none;
}
.mobile {
  height: 100%;
}
.btnIcon {
  width: 22.5px;
  height: 22.5px;
  margin-right: 10px;
}

// Vars
$black: #100f0f;
$red: #dc4a4a;
$white: #f5f5f5;

.btn {
  background: $black;
  color: $white;
  font-weight: 500;
  letter-spacing: 0.22px;
  width: 120px;
  height: 45px;
  outline: none;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  p {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  transition: all .12s ease-in;
}
.btn:hover {
  background: rgb(68, 60, 172);
  p {
    font-weight: 600;
  }

}
.home {
  background: url('../src/images/Homepage.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homeHeader {
  height: 45px;
  background: transparent;
  display: flex;
  justify-content: center;
}
.headerBox {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 0px 1px 0px rgba(158, 158, 158, 0.15);
  -moz-box-shadow: 0px 1px 0px rgba(158, 158, 158, 0.15);
  box-shadow: 0px 1px 0px rgba(90, 90, 90, 0.15);
}
.homeContainer {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 288px;
    padding: 0;
    margin: 0;
  }
  h4 {
    font-size: 28px;
    padding: 0;
    margin: 0;
  }
  h1,
  h4 {
    color: #f5f5f5;
  }
}
.homeFooter {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #f5f5f5;
    font-size: 12px;
  }
  #seeMore{
    cursor: pointer;
    width: 52px;
    height: 52px;
  }
}
.transition {
  position: fixed !important;
  top: -2px !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #0e0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  ul {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
  ul > li > a {
    color: #f5f5f5;
    font-size: 14px;
  }
}
.secondPage {
  height: 1600px;
  background: url('../src/images/Page3.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .secondTitle {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-top: 6em;
    h1,
    p {
      color: #f5f5f5;
      padding: 0;
      margin: 0;
    }
    h1 {
      font-size: 72px;
      font-weight: normal;
    }
    p {
      font-size: 23px;
      font-weight: normal;
      line-height: 32px;
      margin-top: 4px;
      margin-bottom: 20px;
    }
  }
  .secondContent {
    width: 100%;
    height: 65%;
    .cardLeft,
    .cardRight {
      width: 100%;
      height: 300px;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 32px;
    }
    .cardContent {
      box-sizing: border-box;
      padding: 25px;
      width: 100%;
      height: 100%;
      background: white;
      border-radius: 4px;
      display: flex;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      .cardImage {
        width: 35%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
          position: absolute;
          background: white;
        }
      }
      video {
        width: 100%;
        height: 100%;
      }
      .gif {
        opacity: 0;

      }
      .cardImage {
        img:hover {
          opacity: 0;
          transition: all .15s ease-in-out;
        }
      }
      .cardImage:hover {
        .gif {
          opacity: 1;
        }
      }
      .cardText {
        width: 65%;
        height: 100%;
        box-sizing: border-box;
        color: $black;
        h4 {
          font-size: 48px;
          margin: 0;
          padding: 0;
          font-style: normal;
          font-weight: normal;
          box-shadow: 0px 0.25px 0px 0px rgba(0, 0, 0, 0.75);
        }
        .details {
          min-height: 70px;
          max-height: 70px;
          overflow: auto;
        }
      }
    }
    .cardLeft {
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttonsContainer {
          order: 2;
        }
        .tags {
          font-size: 14px;
          font-style: italic;
          font-weight: 500;
          border-bottom: 0.2px solid rgb(222, 222, 222);
          p {
            margin-bottom: 4px;
          }
        }
      }
    }
    .cardRight {
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .tags {
        font-size: 14px;
        font-style: italic;
        font-weight: 500;
        border-bottom: 0.2px solid rgb(222, 222, 222);
        order: 2;
        p {
          margin-bottom: 4px;
        }
      }
    }
    .cardLeft .cardContent .cardText .buttons > button {
      margin-left: 12px;
    }
    .cardRight .cardContent .cardText .buttons > button {
      margin-right: 12px;
    }
    .cardLeft .cardContent .cardText {
      padding: 0px 0px 0px 25px;
    }
    .cardRight .cardContent .cardText {
      padding-right: 25px;
    }
  }
}
.checkOut {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 28px;
  margin-bottom: -1em;
  a {
    text-decoration: none;
    color: $black;
  }

  .checkOutContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    img {
      margin-right: 10px;
      transition: all 0.15s ease;
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &:hover img {
      opacity: 0.9;
      transform: scale(1.05);
    }
  }
}
.websites .container {
  .secondTitle h1 {
    color: $black;
    font-size: 66px;
  }
  .secondTitle p {
    color: $black;
    margin-bottom: 50px;
  }
}
.websitesContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .website {
    position: relative;
    width: 32%;
    height: auto;
    margin-bottom: 26px;
    img {
      width: 100%;
      border: 2.25px solid rgba(202, 202, 202, 0.5);
    }
  }
}
.contact {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.contact .container {
  .secondTitle h1 {
    color: $black;
    font-size: 66px;
  }
  .secondTitle p {
    color: $black;
    margin-bottom: 50px;
  }
  .contactContent {
    display: flex;
    flex-direction: row;
    height: 300px;
    .contactIcons {
      .circleIcon {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      border-right: 1px solid #d8d8d8b0;
      margin-right: 90px;
      width: 60%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      p {
        color: $black;
        width: 100%;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .contactForm {
      width: 40%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      #form {
        display: flex;
        flex-direction: column;
      }
      input {
        height: 40px;
        margin-bottom: 8px;
        font-family: monospace;
      }
      textarea {
        height: 100px;
      }
      .btn {
        margin-top: 6px;
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 576px) {
  .icon {
    width: 16px;
    height: 16px;
  }
  .headerBox {
    width: 220px;
  }
  .btn {
    width: 105px;
  }
  .gif {
    opacity:1 !important;
  }
  .homeContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 112px;
      padding: 0;
      margin: 0;
    }
    h4 {
      font-size: 16px;
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
  .homeFooter {
    height: 40%;
    p {
      color: #f5f5f5;
      font-size: 10px;
    }
  }
  .secondTitle {
    padding-top: 5em !important;
    h1 {
      font-size: 42px !important;
    }
    p {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }
  .secondPage .container .secondContent {
    .cardLeft .cardContent,
    .cardRight .cardContent {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;

      .cardImage {
        width: 100%;
        margin: 0 auto;
        img {
          position: relative;
        }
        img:hover {
          opacity: 10;
        }
      }
      .cardText {
        width: 100%;
        height: 100%;
        padding: 9.5px;
        h4 {
          font-size: 28px;
        }
        .details {
          min-height: 150px;
        }
      }
    }
    .buttons {
      flex-direction: column;
      .buttonsContainer {
        order: 2;
      }
      .tags {
        order: 1;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
      }
    }
    .cardLeft {
      height: 40%;
      margin-top: 22px;
    }
    .cardRight {
      height: 40%;
      margin-top: 22px;

      .cardContent .cardText {
        order: 2;
      }
    }
  }

  .websites .container .websitesContent {
    .website {
      width: 99%;
      height: auto;
      margin-bottom: 12px;
      img {
        width: 100%;
      }
    }
  }

  .contact .container .contactContent {
    flex-direction: column;
    .contactForm {
      width: 100%;
      padding: 0;
    }
    .contactIcons {
      margin: 0;
      border: none;
      width: 100%;
      margin-bottom: 22px;
    }
  }
  .mobile {
    display: none !important;
  }
  .mobileText {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .icon {
    width: 18px;
    height: 18px;
  }
  .headerBox {
    width: 240px;
  }
  .gif {
    opacity:1 !important;
  }
  .homeContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 152px;
      padding: 0;
      margin: 0;
    }
    h4 {
      font-size: 18px;
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
  .homeFooter {
    height: 40%;
    p {
      color: #f5f5f5;
      font-size: 10px;
    }
  }
  .secondTitle {
    padding-top: 6em !important;
    h1 {
      font-size: 42px !important;
    }
    p {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }
  .secondPage .container .secondContent {
    .cardLeft .cardContent,
    .cardRight .cardContent {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
      .cardImage {
        width: 100%;
        margin: 0 auto;
        img {
          position: relative;
        }
        img:hover {
          opacity: 10;
        }
      }
      .cardText {
        width: 100%;
        height: 100%;
        padding: 18px;
        h4 {
          font-size: 28px;
        }
        p {
          max-height: inherit;
        }
      }
    }
    .buttons {
      flex-direction: column;
      .buttonsContainer {
        order: 2;
      }
      .tags {
        order: 1;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
      }
    }
    .cardLeft {
      height: 45%;
    }
    .cardRight {
      height: 45%;
      .cardContent .cardText {
        order: 2;
      }
    }
  }

  .websites .container .websitesContent {
    .website {
      width: 49%;
      height: auto;
      margin-bottom: 12px;
      img {
        width: 100%;
      }
    }
  }

  .contact .container .contactContent {
    flex-direction: column;
    .contactForm {
      width: 80%;
      padding: 0;
      margin: 0 auto;
    }
    .contactIcons {
      margin: 0;
      border: none;
      width: 100%;
      margin-bottom: 22px;
    }
  }
  .mobile {
    display: none !important;
  }
  .mobileText {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .icon {
    width: 18px;
    height: 18px;
  }
  .headerBox {
    width: 250px;
  }
  .gif {
    opacity:1 !important;
  }
  .homeContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 168px;
      padding: 0;
      margin: 0;
    }
    h4 {
      font-size: 18.5px;
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
  .homeFooter {
    height: 40%;
    p {
      color: #f5f5f5;
      font-size: 10px;
    }
  }
  .secondTitle {
    padding-top: 6em !important;
    h1 {
      font-size: 42px !important;
    }
    p {
      font-size: 16px !important;
      line-height: 20px !important;
    }
  }
  .secondPage .container .secondContent {
    .cardLeft .cardContent,
    .cardRight .cardContent {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: auto;
      .cardImage {
        width: 100%;
        margin: 0 auto;
        img {
          position: relative;
        }
        img:hover {
          opacity: 10;
        }
      }
      .cardText {
        width: 100%;
        height: 100%;
        padding: 18px;
        h4 {
          font-size: 28px;
        }
        p {
          max-height: auto;
        }
      }
    }
    .buttons {
      flex-direction: column;
      .buttonsContainer {
        order: 2;
      }
      .tags {
        order: 1;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
      }
    }
    .cardLeft {
      height: 45%;
    }
    .cardRight {
      height: 45%;
      .cardContent .cardText {
        order: 2;
      }
    }
  }

  .websites .container .websitesContent {
    .website {
      width: 49%;
      height: auto;
      margin-bottom: 12px;
      img {
        width: 100%;
      }
    }
  }

  .contact .container .contactContent {
    flex-direction: column;
    .contactForm {
      width: 80%;
      padding: 0;
      margin: 0 auto;
    }
    .contactIcons {
      margin: 0;
      border: none;
      width: 100%;
      margin-bottom: 22px;
    }
  }
  .mobile {
    display: none !important;
  }
  .mobileText {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  margin: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2.5px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;

  img {
    border: none !important;
    width: 45px !important;
    height: 45px !important;
  }
}
.website:hover {
  .overlay {
    opacity: 1;
  }
}
