body,
html {
  margin: 0;
  padding: 0;
  max-width: 2560px;
  margin: 0 auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Amaranth', sans-serif;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

.icon {
  width: 22px;
  height: 22px;
}

#line {
  width: 100%;
  border: 0.32px solid rgba(250, 250, 250, 0.041);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#darkLine {
  width: 100%;
  border: 0.5px solid rgba(75, 75, 75, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  background: #dc4a4a;
  width: 120px;
  outline: none;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.home {
  background: url("../src/images/Homepage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeHeader {
  height: 45px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerBox {
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 1px 0px rgba(158, 158, 158, 0.15);
  box-shadow: 0px 1px 0px rgba(90, 90, 90, 0.15);
}

.homeContainer {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeContainer h1 {
  font-size: 288px;
  padding: 0;
  margin: 0;
}

.homeContainer h4 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.homeContainer h1,
.homeContainer h4 {
  color: #f5f5f5;
}

.homeFooter {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeFooter p {
  color: #f5f5f5;
  font-size: 12px;
}

.navbar {
  width: 100%;
  height: 60px;
  background: #0e0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar ul > li > a {
  color: #f5f5f5;
  font-size: 14px;
}

.secondPage {
  height: auto;
  background: url("../src/images/Page3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondPage .secondTitle {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6em;
}

.secondPage .secondTitle h1,
.secondPage .secondTitle p {
  color: #f5f5f5;
  padding: 0;
  margin: 0;
}

.secondPage .secondTitle h1 {
  font-size: 72px;
  font-weight: normal;
}

.secondPage .secondTitle p {
  font-size: 23px;
  font-weight: normal;
  line-height: 32px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.secondPage .secondContent {
  width: 100%;
  height: 65%;
}

.secondPage .secondContent .cardLeft,
.secondPage .secondContent .cardRight {
  width: 100%;
  height: 300px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 32px;
}

.secondPage .secondContent .cardContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondPage .secondContent .cardContent .cardImage {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondPage .secondContent .cardContent .cardImage img {
  width: 100%;
}

.secondPage .secondContent .cardContent .cardText {
  width: 65%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #100f0f;
}

.secondPage .secondContent .cardContent .cardText h4 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  -webkit-box-shadow: 0px 0.25px 0px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0.25px 0px 0px rgba(0, 0, 0, 0.75);
}

.secondPage .secondContent .cardLeft .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.secondPage .secondContent .cardLeft .cardRight .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.secondPage .secondContent .cardLeft .cardContent .cardText .buttons > button {
  margin-left: 12px;
}

.secondPage .secondContent .cardRight .cardContent .cardText .buttons > button {
  margin-right: 12px;
}

.secondPage .secondContent .cardLeft .cardContent .cardText {
  padding: 0px 0px 0px 25px;
}

.secondPage .secondContent .cardRight .cardContent .cardText {
  padding: 0px 0px 25px 0px;
}

.websites .container .secondTitle h1 {
  color: #100f0f;
  font-size: 66px;
}

.websites .container .secondTitle p {
  color: #100f0f;
  margin-bottom: 50px;
}

.websitesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.websitesContent .website {
  width: 32%;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 26px;
  background: red;
}

.websitesContent .website img {
  width: 100%;
}

.contact .container .secondTitle h1 {
  color: #100f0f;
  font-size: 66px;
}
/*# sourceMappingURL=style.css.map */