body,
html {
  margin: 0;
  padding: 0;
  max-width: 2560px;
  margin: 0 auto;
  background: #eaeaea;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Amaranth', sans-serif;
}

p,
a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

.icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bigIcon {
  width: 45px;
  height: 45px;
}

#line {
  width: 100%;
  border: 0.32px solid rgba(250, 250, 250, 0.041);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#darkLine {
  width: 100%;
  border: 0.5px solid rgba(75, 75, 75, 0.1);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bold {
  font-weight: bold;
}

.mobileText {
  display: none;
}

.btnIcon {
  width: 22.5px;
  height: 22.5px;
  margin-right: 10px;
}

.btn {
  background: #100f0f;
  color: #f5f5f5;
  font-weight: 500;
  letter-spacing: 0.22px;
  width: 120px;
  height: 45px;
  outline: none;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

.btn p {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home {
  background: url("../src/images/Homepage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeHeader {
  height: 45px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerBox {
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 1px 0px rgba(158, 158, 158, 0.15);
  box-shadow: 0px 1px 0px rgba(90, 90, 90, 0.15);
}

.homeContainer {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeContainer h1 {
  font-size: 288px;
  padding: 0;
  margin: 0;
}

.homeContainer h4 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.homeContainer h1,
.homeContainer h4 {
  color: #f5f5f5;
}

.homeFooter {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeFooter p {
  color: #f5f5f5;
  font-size: 12px;
}

.transition {
  position: fixed !important;
  top: -2px !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar {
  position: absolute;
  top: 2px;
  width: 100%;
  height: 60px;
  background: #0e0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.navbar ul {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.navbar ul > li > a {
  color: #f5f5f5;
  font-size: 14px;
}

.secondPage {
  height: 1600px;
  background: url("../src/images/Page3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondPage .secondTitle {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6em;
}

.secondPage .secondTitle h1,
.secondPage .secondTitle p {
  color: #f5f5f5;
  padding: 0;
  margin: 0;
}

.secondPage .secondTitle h1 {
  font-size: 72px;
  font-weight: normal;
}

.secondPage .secondTitle p {
  font-size: 23px;
  font-weight: normal;
  line-height: 32px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.secondPage .secondContent {
  width: 100%;
  height: 65%;
}

.secondPage .secondContent .cardLeft,
.secondPage .secondContent .cardRight {
  width: 100%;
  height: 300px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 32px;
}

.secondPage .secondContent .cardContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.secondPage .secondContent .cardContent .cardImage {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.secondPage .secondContent .cardContent .cardImage img {
  width: 100%;
  position: absolute;
  background: white;
}

.secondPage .secondContent .cardContent .cardImage img:hover {
  opacity: 0;
}

.secondPage .secondContent .cardContent .cardText {
  width: 65%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #100f0f;
}

.secondPage .secondContent .cardContent .cardText h4 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  -webkit-box-shadow: 0px 0.25px 0px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0.25px 0px 0px rgba(0, 0, 0, 0.75);
}

.secondPage .secondContent .cardContent .cardText .details {
  min-height: 70px;
  max-height: 70px;
  overflow: auto;
}

.secondPage .secondContent .cardLeft .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondPage .secondContent .cardLeft .buttons .buttonsContainer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.secondPage .secondContent .cardLeft .buttons .tags {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  border-bottom: 0.2px solid #dedede;
}

.secondPage .secondContent .cardLeft .buttons .tags p {
  margin-bottom: 4px;
}

.secondPage .secondContent .cardRight .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondPage .secondContent .cardRight .tags {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  border-bottom: 0.2px solid #dedede;
}

.secondPage .secondContent .cardRight .tags p {
  margin-bottom: 4px;
}

.secondPage .secondContent .cardLeft .cardContent .cardText .buttons > button {
  margin-left: 12px;
}

.secondPage .secondContent .cardRight .cardContent .cardText .buttons > button {
  margin-right: 12px;
}

.secondPage .secondContent .cardLeft .cardContent .cardText {
  padding: 0px 0px 0px 25px;
}

.secondPage .secondContent .cardRight .cardContent .cardText {
  padding-right: 25px;
}

.checkOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin-top: 28px;
  margin-bottom: -1em;
}

.checkOut a {
  text-decoration: none;
  color: #100f0f;
}

.checkOut .checkOutContainer {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 16px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.checkOut .checkOutContainer img {
  margin-right: 10px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.checkOut .checkOutContainer:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.checkOut .checkOutContainer:hover img {
  opacity: 0.9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.websites .container .secondTitle h1 {
  color: #100f0f;
  font-size: 66px;
}

.websites .container .secondTitle p {
  color: #100f0f;
  margin-bottom: 50px;
}

.websitesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.websitesContent .website {
  position: relative;
  width: 32%;
  height: auto;
  margin-bottom: 26px;
}

.websitesContent .website img {
  width: 100%;
  border: 2.25px solid rgba(202, 202, 202, 0.5);
}

.contact {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.contact .container .secondTitle h1 {
  color: #100f0f;
  font-size: 66px;
}

.contact .container .secondTitle p {
  color: #100f0f;
  margin-bottom: 50px;
}

.contact .container .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
}

.contact .container .contactContent .contactIcons {
  border-right: 1px solid #d8d8d8b0;
  margin-right: 90px;
  width: 60%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .contactContent .contactIcons .circleIcon {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .container .contactContent .contactIcons p {
  color: #100f0f;
  width: 100%;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container .contactContent .contactForm {
  width: 40%;
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .container .contactContent .contactForm #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .contactContent .contactForm input {
  height: 40px;
  margin-bottom: 8px;
  font-family: monospace;
}

.contact .container .contactContent .contactForm textarea {
  height: 100px;
}

.contact .container .contactContent .contactForm .btn {
  margin-top: 6px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 576px) {
  .icon {
    width: 16px;
    height: 16px;
  }
  .headerBox {
    width: 220px;
  }
  .homeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeContainer h1 {
    font-size: 112px;
    padding: 0;
    margin: 0;
  }
  .homeContainer h4 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .homeFooter {
    height: 30%;
  }
  .homeFooter p {
    color: #f5f5f5;
    font-size: 10px;
  }
  .secondTitle {
    padding-top: 5em !important;
  }
  .secondTitle h1 {
    font-size: 42px !important;
  }
  .secondTitle p {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .secondPage .container .secondContent .cardLeft .cardContent,
  .secondPage .container .secondContent .cardRight .cardContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: auto;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage {
    width: 100%;
    margin: 0 auto;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage img,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage img {
    position: relative;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage img:hover,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage img:hover {
    opacity: 10;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText,
  .secondPage .container .secondContent .cardRight .cardContent .cardText {
    width: 100%;
    height: 100%;
    padding: 9.5px;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText h4,
  .secondPage .container .secondContent .cardRight .cardContent .cardText h4 {
    font-size: 28px;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText .details,
  .secondPage .container .secondContent .cardRight .cardContent .cardText .details {
    min-height: 160px;
  }
  .secondPage .container .secondContent .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondPage .container .secondContent .buttons .buttonsContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .secondPage .container .secondContent .buttons .tags {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 6px;
  }
  .secondPage .container .secondContent .cardLeft {
    height: 480px;
    margin-top: 22px;
  }
  .secondPage .container .secondContent .cardRight {
    height: 480px;
    margin-top: 22px;
  }
  .secondPage .container .secondContent .cardRight .cardContent .cardText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .websites .container .websitesContent .website {
    width: 99%;
    height: auto;
    margin-bottom: 12px;
  }
  .websites .container .websitesContent .website img {
    width: 100%;
  }
  .contact .container .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .contactContent .contactForm {
    width: 100%;
    padding: 0;
  }
  .contact .container .contactContent .contactIcons {
    margin: 0;
    border: none;
    width: 100%;
    margin-bottom: 22px;
  }
  .mobile {
    display: none !important;
  }
  .mobileText {
    display: block;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .icon {
    width: 18px;
    height: 18px;
  }
  .headerBox {
    width: 240px;
  }
  .homeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeContainer h1 {
    font-size: 152px;
    padding: 0;
    margin: 0;
  }
  .homeContainer h4 {
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .homeFooter {
    height: 30%;
  }
  .homeFooter p {
    color: #f5f5f5;
    font-size: 10px;
  }
  .secondTitle {
    padding-top: 6em !important;
  }
  .secondTitle h1 {
    font-size: 42px !important;
  }
  .secondTitle p {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .secondPage .container .secondContent .cardLeft .cardContent,
  .secondPage .container .secondContent .cardRight .cardContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: auto;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage {
    width: 100%;
    margin: 0 auto;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage img,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage img {
    position: relative;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage img:hover,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage img:hover {
    opacity: 10;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText,
  .secondPage .container .secondContent .cardRight .cardContent .cardText {
    width: 100%;
    height: 100%;
    padding: 18px;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText h4,
  .secondPage .container .secondContent .cardRight .cardContent .cardText h4 {
    font-size: 28px;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText p,
  .secondPage .container .secondContent .cardRight .cardContent .cardText p {
    max-height: inherit;
  }
  .secondPage .container .secondContent .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondPage .container .secondContent .buttons .buttonsContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .secondPage .container .secondContent .buttons .tags {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 6px;
  }
  .secondPage .container .secondContent .cardLeft {
    height: 600px;
  }
  .secondPage .container .secondContent .cardRight {
    height: 600px;
  }
  .secondPage .container .secondContent .cardRight .cardContent .cardText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .websites .container .websitesContent .website {
    width: 49%;
    height: auto;
    margin-bottom: 12px;
  }
  .websites .container .websitesContent .website img {
    width: 100%;
  }
  .contact .container .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .contactContent .contactForm {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
  .contact .container .contactContent .contactIcons {
    margin: 0;
    border: none;
    width: 100%;
    margin-bottom: 22px;
  }
  .mobile {
    display: none !important;
  }
  .mobileText {
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .icon {
    width: 18px;
    height: 18px;
  }
  .headerBox {
    width: 250px;
  }
  .homeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeContainer h1 {
    font-size: 168px;
    padding: 0;
    margin: 0;
  }
  .homeContainer h4 {
    font-size: 18.5px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .homeFooter {
    height: 30%;
  }
  .homeFooter p {
    color: #f5f5f5;
    font-size: 10px;
  }
  .secondTitle {
    padding-top: 6em !important;
  }
  .secondTitle h1 {
    font-size: 42px !important;
  }
  .secondTitle p {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .secondPage .container .secondContent .cardLeft .cardContent,
  .secondPage .container .secondContent .cardRight .cardContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: auto;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage {
    width: 100%;
    margin: 0 auto;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage img,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage img {
    position: relative;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardImage img:hover,
  .secondPage .container .secondContent .cardRight .cardContent .cardImage img:hover {
    opacity: 10;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText,
  .secondPage .container .secondContent .cardRight .cardContent .cardText {
    width: 100%;
    height: 100%;
    padding: 18px;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText h4,
  .secondPage .container .secondContent .cardRight .cardContent .cardText h4 {
    font-size: 28px;
  }
  .secondPage .container .secondContent .cardLeft .cardContent .cardText p,
  .secondPage .container .secondContent .cardRight .cardContent .cardText p {
    max-height: auto;
  }
  .secondPage .container .secondContent .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondPage .container .secondContent .buttons .buttonsContainer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .secondPage .container .secondContent .buttons .tags {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 6px;
  }
  .secondPage .container .secondContent .cardLeft {
    height: 600px;
  }
  .secondPage .container .secondContent .cardRight {
    height: 600px;
  }
  .secondPage .container .secondContent .cardRight .cardContent .cardText {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .websites .container .websitesContent .website {
    width: 49%;
    height: auto;
    margin-bottom: 12px;
  }
  .websites .container .websitesContent .website img {
    width: 100%;
  }
  .contact .container .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .contactContent .contactForm {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
  .contact .container .contactContent .contactIcons {
    margin: 0;
    border: none;
    width: 100%;
    margin-bottom: 22px;
  }
  .mobile {
    display: none !important;
  }
  .mobileText {
    display: block;
    text-align: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  margin: auto;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2.5px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text img {
  border: none !important;
  width: 45px;
  height: 45px;
}

.website:hover .overlay {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */